<h1>Products</h1>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<table style="width: 75%">
    <!-- Titles -->
    <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Store ID</th>
        <th>Location</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <!-- Table Entries. For every Product in the SQL DB, add a new row with the info of that product -->
    <% allProducts.forEach((res) => { %>
        <tr>
            <td><%= res.pid %></td>
            <td><%= res.productdesc %></td>
            <td><%= res.sid %></td>
            <td><%= res.location %></td>
            <td><%= res.Price %></td>
            <td><a href="/products/delete/<%= res.pid %>">Delete <%= res.pid %></a></td>
        </tr>
    <% }) %>
</table>

<!-- Return to home page-->
<a href="/">Home</a>